In [120]:
import pandas as pd
import numpy as np

In [121]:
movies = pd.read_csv('datasets/movies.csv')
credits = pd.read_csv('datasets/credits.csv')

In [122]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [123]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [124]:
# Merging movies and credits datasets using 'title'
movies = movies.merge(credits, on='title')

In [125]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [126]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [127]:
# choosing scpecific column for content filtering based recommendations
movies = movies[['id','genres','title','overview','keywords','popularity','cast','crew',
                 'production_companies','runtime','release_date'
                ]]

In [128]:
movies.head(2)

,id,genres,title,overview,keywords,popularity,cast,crew,production_companies,runtime,release_date
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",162.0,2009-12-10
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",169.0,2007-05-19

In [129]:
# checking missing value
movies.isna().sum()

id                      0
genres                  0
title                   0
overview                3
keywords                0
popularity              0
cast                    0
crew                    0
production_companies    0
runtime                 2
release_date            1
dtype: int64

In [130]:
# removing missing value
movies.dropna(inplace=True)

In [131]:
# duplicated values check
movies.duplicated().sum()

0

In [132]:
# remove duplicated rows
movies.drop_duplicates(inplace=True)

In [133]:
# extract function
import ast 

def extract_names(obj):
    evaluated_obj = ast.literal_eval(obj)  # evaluate the string to python objects
    result = [] 
    for i in evaluated_obj:
        result.append(i['name'])
    return result

In [134]:
# output for the given function
print(extract_names("[{'name': 'Alice'}, {'name': 'Bob'}, {'name': 'Charlie'}]"))

['Alice', 'Bob', 'Charlie']

In [135]:
# applying the extract function to genres column
movies['genres'][2]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 80, "name": "Crime"}]'

In [136]:
movies['genres'] = movies['genres'].apply(extract_names)
movies['genres'][2]

['Action', 'Adventure', 'Crime']

In [137]:
# applying the extract function to keywords column
movies['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [138]:
movies['keywords'] = movies['keywords'].apply(extract_names)

In [139]:
movies['keywords'][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [140]:
def extract_cast_with_characters(obj, limit=5):
    cast_list = ast.literal_eval(obj)  # Safely evaluate the string to a Python object
    result_str = ''  # Initialize an empty string to store the result
    for i in cast_list[:limit]:  # Loop through the first `limit` items
        result_str += f"{i['name']} ({i['character']}), "  # Append each formatted string to `result_str`
    result_str = result_str.rstrip(', ')  # Remove the trailing comma and space
    return result_str

In [141]:
obj = """[
    {"name": "Alice", "character": "Queen"},
    {"name": "Bob", "character": "Knight"},
    {"name": "Charlie", "character": "Bishop"},
    {"name": "Diana", "character": "Rook"},
    {"name": "Eve", "character": "Pawn"}
]"""

print(extract_cast_with_characters(obj, limit=3))

Alice (Queen), Bob (Knight), Charlie (Bishop)

In [142]:
movies['cast'] = movies['cast'].apply(extract_cast_with_characters)

print(movies['cast'].iloc[0])

Sam Worthington (Jake Sully), Zoe Saldana (Neytiri), Sigourney Weaver (Dr. Grace Augustine), Stephen Lang (Col. Quaritch), Michelle Rodriguez (Trudy Chacon)

In [143]:
# extract function to fetch the movie director
def extract_director(obj):
    crew_list = ast.literal_eval(obj)
    director_list = []
    for i in crew_list:
        if i['job'] == 'Director':
            director_list.append(i['name'])
    return ', '.join(director_list)

In [144]:
extract_director(obj = """[
    {"name": "Alice", "job": "Director"},
    {"name": "Bob", "job": "Producer"},
    {"name": "Charlie", "job": "Director"},
    {"name": "Diana", "job": "Writer"}
]""")

'Alice, Charlie'

In [145]:
movies['crew'] = movies['crew'].apply(extract_director)
movies['crew']

0                                James Cameron
1                               Gore Verbinski
2                                   Sam Mendes
3                            Christopher Nolan
4                               Andrew Stanton
                         ...
4804                          Robert Rodriguez
4805                              Edward Burns
4806                               Scott Smith
4807                               Daniel Hsia
4808    Brian Herzlinger, Jon Gunn, Brett Winn
Name: crew, Length: 4805, dtype: object

In [146]:
movies.head(2)

,id,genres,title,overview,keywords,popularity,cast,crew,production_companies,runtime,release_date
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...",150.437577,"Sam Worthington (Jake Sully), Zoe Saldana (Ney...",James Cameron,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",162.0,2009-12-10
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...",139.082615,"Johnny Depp (Captain Jack Sparrow), Orlando Bl...",Gore Verbinski,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",169.0,2007-05-19

In [147]:
# converting the release date into the readable format and adding new column release year
movies['release_year'] = pd.to_datetime(movies['release_date']).dt.year

In [148]:
movies.drop('release_date',axis=1,inplace=True)

In [149]:
movies['production_companies'].iloc[0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [150]:
def extract_production_companies(obj,limit=3):
    companies_list = ast.literal_eval(obj)
    names_list = []
    for company in companies_list[:limit]:
        names_list.append(company['name'])
    return ', '.join(names_list)

In [151]:
obj = """[
    {"name": "Warner Bros."},
    {"name": "Universal Pictures"},
    {"name": "Paramount Pictures"},
    {"name": "20th Century Fox"},
    {"name": "Sony Pictures"}
]"""

extract_production_companies(obj)

'Warner Bros., Universal Pictures, Paramount Pictures'

In [152]:
movies['production_companies'] = movies['production_companies'].apply(extract_production_companies)

In [155]:
movies['production_companies'][3]

'Legendary Pictures, Warner Bros., DC Entertainment'

In [156]:
import pickle 
pickle.dump(movies,open('movies_dataset.pkl','wb'))

In [157]:
# save as csv
movies.to_csv('movies_dataset.csv',index=False)